autom4te.cache/
config.h
config.log
config.make
config.status
configure
samples/rnn_gru_fwd
samples/rnn_lstm_bidir
samples/rnn_lstm_fwd
samples/rnn_lstm_multi_layers
samples/simple_add
samples/simple_heap
samples/simple_stack
samples/stickify_unstickify
samples/ztensor_reuse
samples/descriptor_share
samples/simple_concat_lstm
tests/bin
tests/obj
zdnn/lib
zdnn/obj
zdnn/symcheck
zdnn/zdnn.dynsyms
zdnn/zdnn.i
zdnn/zdnn_exportall.map
